{% extends 'abk/basic.html' %}
{% block title %} abksoftech {% endblock %}
{% load static %}
{% block body %}
  <!-- ========== MAIN ========== -->
  <!-- Hero Secction -->
  <div class="intro" id="home">
    <div class="screen-v-100">
      <div class="l-v-center">
        <div class="container">
          <div class="intro-content">
            <div class="row align-items-lg-center">
              
              <div class="col-md-5">
                  <!-- Info -->
                  <h1 class="intro-lead-title mb-3">Update your Business with the new technologies and frameworks.</h1>
                  <p class="lead">Fully Responsive, professional, clean and secure web site which helps you to improve and grow your business.
                  </p>
                  <!-- End Info -->

                  <!-- Call to Action -->
                  <div class="intro-cta-group d-flex justify-content-center justify-content-sm-start">
                    <a href="#" class="btn btn-lg btn-primary">Our Portfolio</a>

                    <!-- Magnific Video Popup -->
                    <a href="#footer" class="btn btn-lg btn-light">
                      Contact Us
                    </a>
                    <!-- End Magnific Video Popup -->
                  </div>
                  <!-- End Call to Action -->
              </div>

              <div class="col-md-6 col-lg-5 ml-auto">
                <!-- Hero Image -->
                <div class="intro-img">
                  <img src="{% static 'asset/images/previews/image-4.gif' %}" class="img-fluid" alt="Image">
                </div>
                <!-- End Hero Image -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Wave shape  -->
    <figure class="img-shape absolute-bottom">
      <img src="{% static 'asset/images/wave.svg' %}" alt="Image">
    </figure>
    <!-- End Wave shape  -->
  </div>
  <!-- End Hero Secction -->
  <section class="section-spacer sec-features" id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="content">
            <div class="row">
              <div class="col-md-3">
                  <span class="h5 text-muted m-0">abksoftech</span>
                  <h1 class="h2 mt-0">About Us</h1>
              </div>
              <div class="col-md-9">
                <!--Info-->
                <h2>Welcome to abksoftech!</h2>
                <h4>Coding is passion and love for us.</h4>
                <p>Established in 2020, our young team design & code your business solution in one website with the passion & profession.</p>
                <!--End Info-->
                <div class="feature-boxes m-tb-40">
                  <div class="feature-box mb-5">
                    <h2 class="feature-box--title"><i class="fas fa-chart-pie"></i> Our Mission</h2>
                    <p>Being an professional web development, Hardware Networking, Digital marketing company, our mission is to provide best innovative IT solutions to the customers with their satisfaction.</p>
                  </div>
                  <div class="feature-box mb-5">
                    <h2 class="feature-box--title"><i class="fas fa-robot"></i> Technolgy Interest</h2>
                    <p>We are intrested in latest technologies like Cloud Computing, DevOps, Machine Learnig, Artifical Intelligence and many more out there. </p>
                  </div>
                  <div class="feature-box mb-5">
                    <h2 class="feature-box--title"><i class="fas fa-chart-line"></i> Our vision</h2>
                    <p>Learning new technologies and implement in our life.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <!--Feature Image-->
          <div class="shadow">
            <img class="img-fluid" src="{% static 'asset/images/previews/profile.jpg' %}" alt="Image">
            <h3>Aasif Khan</h3>
            <p>Founder</p>
          </div>
          <!--End Feature Image-->
        </div>
      </div>
    </div>
  </section>

  <!-- ========== OVERVIEW SECTION ========== -->
  <section class="section-spacer u-bg-gradient--primary u-text--light" id="overview">
    <div class="container">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <!--Section Header-->
          <header class="section-header text-center">
            <h1 class="section-title">Our Portfolio</h1>
            <p class="lead">Check out our projects which we have created with new technologies.</p>
          </header>
          <!--End Section Header-->
        </div>
      </div>

      <div class="row mb-5 align-items-start">
        <div class="col-sm-12 col-md-3 tabs-slider-indicators">
          <ul class="tabs-slider-thumbs">
            <li class="owl-dot active">
              <div class="icon">
                <i class="icon ion-ios-create"></i>
              </div>
              <h3>Dynamic Websites</h3>
              <p>Venison ham pork belly, porchetta landjaeger leberkas</p>
            </li>
            <li class="owl-dot">
              <div class="icon">
                <i class="icon ion-ios-flash"></i>
              </div>
              <h3>Virtual Assistance</h3>
              <p>First Step towards Machine Learning</p>
            </li>
            <li class="owl-dot">
              <div class="icon">
                <i class="icon ion-ios-stats"></i>
              </div>
              <h3>Face Recognition</h3>
              <p>Venison ham pork belly, porchetta landjaeger leberkas</p>
            </li>
          </ul>
        </div>
        <div class="col-md-9">
          <div class="owl-carousel overview-slides">
            <div class="">
              <img src="{% static 'asset/images/previews/screen-4.gif' %}" class="img-fluid" alt="Image">
            </div>
            <div>
              <img src="{% static 'asset/images/previews/screen-2.jpg' %}" class="img-fluid" alt="Image">
              <h3><a href="https://www.instagram.com/p/B9XG3NbnMRR/?igshid=1iv7m3hh5xhfb" style="color: white">Virtual Assistance</a></h3>
              <p>It is our first step towards "Machine Learning". this is very mini program you can say but we will improve it day-by-day very soon.</p>
            </div>
            <div>
              <img src="{% static 'asset/images/previews/screen-1.jpg' %}" class="img-fluid" alt="Image">
              <h3>Face Recognition</h3>
              <p>Facial Recognition is an algorithm to recognize the person/people. secure your stuff, area and many more with is</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 mx-auto">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="mb-5">
                <span class="u-icon u-icon--light u-icon--xl mb-20 u-icon--rounded feature-box--icon">
                  <i class="fas fa-window-restore"></i>
                </span>
                <h3>Web Development.</h3>
                <p>Nostrum obcaecati odio provident, ratione saepe suscipit ut veniam! Ab at dignissimos nam?</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="mb-5">
                <span class="u-icon u-icon--light u-icon--xl mb-20 u-icon--rounded feature-box--icon">
                  <i class="fas fa-tools"></i>
                </span>
                <h3>Hardware Networking.</h3>
                <p>Nostrum obcaecati odio provident, ratione saepe suscipit ut veniam! Ab at dignissimos nam?</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="mb-5">
                <span class="u-icon u-icon--light u-icon--xl mb-20 u-icon--rounded feature-box--icon">
                  <i class="icon ion-md-trending-up"></i>
                </span>
                <h3>Hosting & Digital Marketing.</h3>
                <p>Nostrum obcaecati odio provident, ratione saepe suscipit ut veniam! Ab at dignissimos nam?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ========== END OVERVIEW SECTION ========== -->

  <!--Feature Explainer-->
  <section class="section-spacer u-bg--default" id="services">
    <header class="section-header text-center">
      <h1 class="section-title">Our Services</h1>
      <p class="lead">Services Which we are going to provide you.</p>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-5 mr-auto">
          <!--Feature Image-->
          <img src="{% static 'asset/images/previews/512/image-1.gif' %}" class="img-fluid" alt="Image">
          <!--End Feature Image-->
        </div>

        <div class="col-md-6">
          <!--Content-->
          <h2></h2>

          <ul class="list-check light">
            <li>
              <h4><i class="fas fa-window-restore"></i> Website Development.</h4>
              <p>Upgrade your business and upgrade your WebSite with new Technologies and Frameworks with some code.</p>
            </li>

            <li>
              <h4><i class="fas fa-tools"></i> Harware & Networking.</h4>
              <p>Repair your PC, Laptops, Printers etc. from our Experts...,and we also sale the PCs, Laptops, Printers, accesories and many more.</p>
            </li>

            <li>
              <h4><i class="icon ion-md-trending-up"></i> Digital Marketing.</h4>
              <p>Promote your business through digital media.</p>
            </li>
          </ul>
          <!--End Content-->
        </div>
      </div>
    </div>
  </section>
  <!--End Feature Explainer-->

  <!-- ========== CONTACT  SECTION ========== -->
  <section class="section-spacer u-bg-primary-dots" id="sec-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <!--Section Header-->
          <header class="section-header text-center u-text--light">
            <h1 class="section-title">Get in touch</h1>
            <p class="lead">Get your solution here..</p>
          </header>
          <!--End Section Header-->
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-8 mx-auto">
          <!--Contact Form-->
          <form action="#" class="contact-form p-md-5">
            <div class="row">
              <div class="col-12 col-md-6">
                <!--Input-->
                <div class="form-group">
                  <label for="form-input"> Name </label>
                  <input type="text" id="form-input" class="form-control" placeholder="Your full name">
                </div>
                <!--End Input-->
              </div>
              <div class="col-12 col-md-6">
                <!--Input-->
                <div class="form-group">
                  <label for="form-email">Email</label>
                  <input type="text" id="form-email" class="form-control" placeholder="Your Email">
                </div>
                <!--End Input-->
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <!--Input-->
                <div class="form-group">
                  <label for="form-phone">Mobile No.</label>
                  <input type="text" id="form-phone" class="form-control" placeholder="Your mobile number">
                </div>
                <!--End Input-->
              </div>
              <div class="col-12 col-md-6">
                <!--Input-->
                <div class="form-group">
                  <label for="form-subject">Subject</label>
                  <input type="text" id="form-subject" class="form-control" placeholder="Subject">
                </div>
                <!--End Input-->
              </div>
            </div>
            <!--Textarea-->
            <div class="form-group">
              <label for="form-message">Message</label>
              <textarea id="form-message" class="form-control" rows="5" placeholder="Please let us know why you’re reaching out and what you may need help with. The more detail the better!"></textarea>
            </div>
            <!--End Textarea-->

            <!--Submit Button-->
            <button class="btn btn-primary btn-xl w-100">Send Massages</button>
            <!--End Submit Button -->
          </form>
          <!--End Form-->
        </div>
      </div>
    </div>
  </section>
  <!-- ========== END CONTACT SECTION ========== -->
  <!-- ========== FOOTER ========== -->
 {% endblock %}